<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575887202735-sdd61kt82f7ka6frf22h88u4a2rshvim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575887202735-sdd61kt82f7ka6frf22h88u4a2rshvim</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>575887202735-lteg7ob4nppur417c1jh09kdtseoq51i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJDhzWPBlmWohVFQ-1kTh_j2zVPND0ROE</string>
	<key>GCM_SENDER_ID</key>
	<string>575887202735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.gouv.agora</string>
	<key>PROJECT_ID</key>
	<string>agora-prod-83c6c</string>
	<key>STORAGE_BUCKET</key>
	<string>agora-prod-83c6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575887202735:ios:4464973c539928f170f75a</string>
</dict>
</plist>