<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128862173768-gc2r7o18hdg95r5vd8engfsl46bmv8et.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128862173768-gc2r7o18hdg95r5vd8engfsl46bmv8et</string>
	<key>API_KEY</key>
	<string>AIzaSyCTPL4NDF8KPVbGg86uv-juz8Sgg5-GOes</string>
	<key>GCM_SENDER_ID</key>
	<string>128862173768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.social.gouv.agora.debug</string>
	<key>PROJECT_ID</key>
	<string>agora-dev-6c6bd</string>
	<key>STORAGE_BUCKET</key>
	<string>agora-dev-6c6bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128862173768:ios:23c90a64efbf303db3f67d</string>
</dict>
</plist>